<div class="pagename">
  <h1>Discover your destination</h1>
  <div class="location"> Location name </div>
  <div class="map"></div>
  <div class="notes"><h4>NOTES</h4></div>
  <div class="noteboxes">Create note partial here</div>
  <div class="foursq">Foursquare recommended places/tips:<br>
     <% f = @foursquare_tip.each do |f| %>
        <li><div class="title"><%= f["venue"]["name"] %></div></li>
        <% @foursquare_tip_url.each do |t| %>
            <% t["tips"] %>
              <% t["tips"].each do |f| %>
                <%= f["text"] %>
        
                <% end %>
          <% end %>
          <% end %>
  </div>
  <br><div class="yelp">Yelp recommended places:
  <br><%= @yelp.businesses.first.name %>
</div>
<br><div class="instagram">Instagram:<br>
<%= link_to image_tag @results %>
</div>
<br>
<div class="reddit">Reddit:<br>
  <% @reddit_data.each do |r| %>
  <li><%= r["name"] %></li>
  <% end %>
</div>



<div class="ramble">
  <%= button_to 'Save this Ramble', { :controller => 'rambles', :action => 'create'} %>
  <span>or</span></div>
  <form class="search-form">
    <div class="location-search">
      <input type="text" placeholder="Search for more">
      <input type="submit" value="Search">
    </div>
  </form>

<!--inline JS for tagging, with requests to externally hosted js and css. Need to bring this in-house to reduce page load time, and remove the features from the JS that are not needed for our tagging.-->
  <link rel="stylesheet" type="text/css" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
  <script type="text/javascript">

    function onAddTag(tag) {
      alert("Added a tag: " + tag);
    }
    function onRemoveTag(tag) {
      alert("Removed a tag: " + tag);
    }

    function onChangeTag(input,tag) {
      alert("Changed a tag: " + tag);
    }

    $(function() {

      $('#tags_1').tagsInput({width:'auto'});
      $('#tags_2').tagsInput({
        width: 'auto',
        onChange: function(elem, elem_tags)
        {
          var languages = ['php','ruby','javascript'];
          $('.tag', elem_tags).each(function()
          {
            if($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
              $(this).css('background-color', 'yellow');
          });
        }
      });
// Uncomment this line to see the callback functions in action
//			$('input.tags').tagsInput({onAddTag:onAddTag,onRemoveTag:onRemoveTag,onChange: onChangeTag});

// Uncomment this line to see an input with no interface for adding new tags.
//			$('input.tags').tagsInput({interactive:false});
    });
  </script>
  <div class="tag-div">
    <form>
      <p><label>Defaults:</label>
        <input id="tags_1" type="text" class="tags" value="foo,bar,baz,roffle" /></p>

      <p><label>Technologies: (Programming languages in yellow)</label>
        <input id="tags_2" type="text" class="tags" value="php,ios,javascript,ruby,android,kindle" /></p>
    </form>
  </div>
</div>
