<div class="pagename">
  <h1 class="discover">Discover your destination</h1>
  <div class="location">
    You searched: <%= @discover.destination.split.map(&:capitalize).join(' ') %>
  </div>
</div>
  <div id='map' class='dark'></div>
  <script type='text/javascript'>
    var latitude= '<%=@discover.latitude%>';
    var longitude= '<%=@discover.longitude%>';
    var destination='<%=@discover.destination.split.map(&:capitalize).join(' ')%>';
    var map = L.mapbox.map('map', 'daninyc.14e41ce7').setView([latitude, longitude], 5).setZoom([14]);
    L.mapbox.markerLayer({
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [longitude, latitude]
      },
      properties: {
        title: destination,
        description: 'Your destination!',
        'marker-size': 'large',
        'marker-color': '#af703a'
      }
    }).addTo(map);
  </script>
  <div class="recommended-notes">
    <div class="showhide"><a href="javascript:;"><h5>Show/hide notes relevant to your destination</h5></a>
    </div>
    <div class="show">
    <% ramble = Ramble.where(:destination => @discover.destination)  %>
    <% ramble.each do |r| %>
    <% r.notes.each do |n| %>
      <div class="note-results">
        <div class="notesshow">
          Title: <%= n.title %>
        </div>
        <div class="notesshow">
          Address: <%= n.address %>
        </div>
        <div class="notesshow">
          Note: <%= n.body %>
        </div>
        <div class="notesshow">
          URL: <a href="<%= n.url %>" target="_blank"><%= n.url %></a>
        </div>
        <div class="tagshow">
          Tags: <%= n.tag_list %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(".showhide").click(function () {
      $(".show").toggle();
    });
    </script>
    <% end %>
    <% end %>
  </div>
<div class="container">
  <div class="foursq">
    <div class="four-title">Foursquare <i class="fa fa-arrow-circle-o-down"></i></div>
<br>
    <% f = @foursquare_venue.each do |f| %>
    <li>
      <div class="f-title">
        <%= f["venue"]["name"] %>
      </div>
    </li>
    <div class="f-tips">
      Address: <%= f["venue"]["location"]["address"] %><br>
      <% f["tips"] %>
      <% f["tips"].each do |g| %>
      <article><%= link_to g["text"], g["canonicalUrl"], :class => "f-tips", :target => '_blank' %></article>
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <% if @yelp.businesses != nil %>
  <div class="yelp">
    <div class="y-title">Yelp <i class="fa fa-arrow-circle-o-down"></i></div>
    <% @yelp.businesses.each do |y| %>
      <li>
        <%= link_to y.name, y.url, :class => "y-name",:target => '_blank'  %>
        <%= image_tag y.rating_img_url_small %>
      </li>
      <% if y.snippet_text != nil %>
        <article class="y-tips"><%= y.snippet_text %></article>
      <% end %>
    <% end %>
  <% else %>
   Sorry, there are no Yelp results for this destination!
  <% end %>
  </div>
  <br>
  <div class="instagram">
    <div class="ins-title">Instagram <i class="fa fa-arrow-circle-o-down"></i>
</div>
    <br>
    <% i = @instagram_images.each do |i| %>
    <%= link_to i["images"]["standard_resolution"]["url"] do %>     
    <%= image_tag i["images"]["thumbnail"]["url"] %>
    <% end %> 
    <% end %>
  </div>
  <br>
  <div class="reddit">
    <div class="red-title">Reddit <i class="fa fa-arrow-circle-o-down"></i>
    </div>
    <div class="r-desc">Local subreddits can be a great place to get information about a destination from locals. Here is a list of subreddits related to your destination:</div>
    <br>
    <div class="r-list">
      <ul>
      <% @reddit_thread.each do |r| %>
        <li>
          <span class="r-link"><a href="http://www.reddit.com/r/<%= r["name"] %>" target="_blank"></span>
            <%= r["name"] %>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="ramble">
    <h4 class="r-create">Like what you see? Create a ramble (itinerary) below! </h4>

    <i class="fa fa-arrow-right"></i>
<%= link_to_modal "Create", new_ramble_path, :class=>"create" %> <i class="fa fa-arrow-left"></i>

  </div>
  <span><h4 class="r-create">or search somewhere new</h4></span>
  <div class="discover-bottom">
    <%= render "/discovers/create" %>
  </div>
</div>
