<div class="pagename">
  <h1>Discover your destination</h1>
  <div class="location">
    <%= @discover.destination.split.map(&:capitalize).join(' ') %>
  </div>

  <div id='map' class='dark'></div>
  <script type='text/javascript'>
    var latitude= '<%=@discover.latitude%>';
    var longitude= '<%=@discover.longitude%>';
    var map = L.mapbox.map('map', 'gregurton.kbc7dghp').setView([latitude, longitude], 5);
  </script>
    <!--<iframe width='500px' height='300px' frameBorder='0' src='http://api.tiles.mapbox.com/v4/examples.map-zr0njcqy/<#= "#{@discover.longitude}" %>,<#= "#{@discover.latitude}" %>,13/500x300.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q'></iframe>-->
  <div class="notes"><h4>NOTES</h4></div>
  <div class="noteboxes">Display other people's relevant notes here</div>
  <div class="foursq">
    <div class="title">Foursquare:</div><br>
     <% f = @foursquare_venue.each do |f| %>
        <li>
        <div class="title">
          <%= f["venue"]["name"] %>
        </div>
        </li>
          Address: <%= f["venue"]["location"]["address"] %><br>
        <% f["tips"] %>
        <% f["tips"].each do |g| %>
        <article><%= link_to g["text"], g["canonicalUrl"] %></article>
        <% end %>
    <% end %>
  </div>
  <br>
  <div class="yelp">
    <div class="title">Yelp:</div>
    <br>
    <% @yelp.businesses.each do |y| %>
      <li>
        <%= link_to y.name, y.url %>
        <%= link_to image_tag y.rating_img_url_small %>
      </li>
        <article><%= y.snippet_text %></article>
      <% end %>
  </div>
  <br>
  <div class="instagram">
    <div class="title">Instagram:</div>
    <br>
    <% i = @instagram_images.each do |i| %>
      <%= link_to image_tag i["images"]["thumbnail"]["url"] %>
    <% end %>
  </div>
  <br>
  <div class="reddit">
    <div class="title">Reddit:</div><br>
    <% @reddit_thread.each do |r| %>
      <li><%= link_to r["data"]["title"], r["data"]["url"] %></li>
    <% end %>
  </div>
  <div class="ramble">
    <h4>Like what you see? Create a ramble (itinerary) below! </h4>
    <div id="demo-form" class="demo-description" style="display: none; ">
    </div>
    <%=  link_to_modal "Create", new_ramble_path, :class=>"button" %>
  </div>
  <span><h4>or</h4></span>
  <div class="discover-bottom">
    <%= render "/discovers/create" %>
  </div>
</div>
