<div class="pagename">
  <h1>Discover your destination</h1>
  <div class="location">
    <%= @discover.destination %>
  </div>
  <div class='map'>
    <!--<b>Passing (lon,lat) into a static Mapbox map <a href="https://www.mapbox.com/developers/api/static/#images">(Source)</a></b>-->
    <iframe width='100%' height='300px' frameBorder='0' src='http://api.tiles.mapbox.com/v4/examples.map-zr0njcqy/<%= "#{@discover.longitude}" %>,<%= "#{@discover.latitude}" %>,13/500x300.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q'></iframe>
    <!--<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/daninyc.ka9776m1/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZGFuaW55YyIsImEiOiJsZGtFNGdnIn0.3NYblJVlOSsj0kll5c4aKA'></iframe>-->
  </div>
  <div class="notes"><h4>NOTES</h4></div>
  <div class="noteboxes">Create note partial here</div>
  <div class="tag-div">
    <link rel="stylesheet" type="text/css" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
    <script type="text/javascript">
      function onAddTag(tag) {
        alert("Added a tag: " + tag);
      }
      function onRemoveTag(tag) {
        alert("Removed a tag: " + tag);
      }
      function onChangeTag(input,tag) {
        alert("Changed a tag: " + tag);
      }
      $(function() {
        $('#tags_1').tagsInput({width:'auto'});
      });
    </script>
    <form>
      <p>
        <label>Tags (important point: a tag can't have a comma inside of it, since commas are used as a separator between tags)</label>
        <input id="tags_1" type="text" class="tags" value="restaurant,hotel,museum,show,park,trail,bar,durham nc" />
      </p>
    </form>
  </div>
  <div class="foursq">
    <div class="title">Foursquare:</div><br>
     <% f = @foursquare_venue.each do |f| %>
        <li>
        <div class="title">
          <%= f["venue"]["name"] %>
        </div>
        </li>
          Address: <%= f["venue"]["location"]["address"] %><br>
        <% f["tips"] %>
        <% f["tips"].each do |g| %>
        <article><%= link_to g["text"], g["canonicalUrl"] %></article>
        <% end %>
    <% end %>
  </div>
  <br>
  <div class="yelp">
    <div class="title">Yelp:</div>
    <br>
    <% @yelp.businesses.each do |y| %>
      <li>
        <%= link_to y.name, y.url %>
        <%= link_to image_tag y.rating_img_url_small %>
      </li>
        <article><%= y.snippet_text %></article>
      <% end %>
  </div>
  <br>
  <div class="instagram">
    <div class="title">Instagram:</div>
    <br>
    <% i = @instagram_images.each do |i| %>
      <%= link_to image_tag i["images"]["thumbnail"]["url"] %>
    <% end %>
  </div>
  <br>
  <div class="reddit">
    <div class="title">Reddit:</div><br>
    <% @reddit_thread.each do |r| %>
      <li><%= link_to r["data"]["title"], r["data"]["url"] %></li>
    <% end %>
  </div>
  <div class="ramble">
    <h4>Like what you see? Create a ramble (itinerary) below! </h4>
    <div id="demo-form" class="demo-description" style="display: none; ">
      <p><%= render "/rambles/create" %> </p>
    </div>
    <%=  link_to_modal "Create", new_ramble_path, :class=>"button" %>
  </div>
  <span><h4>or</h4></span>
  <div class="discover-bottom">
    <%= render "/discovers/create" %>
  </div>
</div>
