<div class="pagename">
  <h1 class="discover">Discover your destination</h1>
  <div class="location">
    You searched: <%= @discover.destination.split.map(&:capitalize).join(' ') %>
  </div>
</div>
<div id='map' class='dark'></div>
<script type='text/javascript'>
var latitude= '<%=@discover.latitude%>';
var longitude= '<%=@discover.longitude%>';
var destination='<%=@discover.destination.split.map(&:capitalize).join(' ')%>';
var map = L.mapbox.map('map', 'daninyc.14e41ce7').setView([latitude, longitude], 5).setZoom([14]);
L.mapbox.markerLayer({
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [longitude, latitude]
  },
  properties: {
    title: destination,
    description: 'Your destination!',
    'marker-size': 'large',
    'marker-color': '#af703a'
  }
}).addTo(map);
map.touchZoom.disable();
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();
if (map.tap) map.tap.disable();
</script>
<div class="recommended-notes-discover"><br>
  <div id="four-title">
    <% x = Note.where(ramble_id:(Ramble.where(:destination => @discover.destination))) %>
    Notes <i class="fa fa-arrow-circle-o-down"></i>
  </div>
  <% ramble = Ramble.where(:destination => @discover.destination) %>
  <% if ramble.count > 0 %>
    <% ramble.each do |r| %>
      <% r.notes.take(5).each do |n| %>
        <% if n.share == true %>
          <div class="note-show-inline">
            <% if n.title != "" %>
              <p>
                <span id="note-label">Title: </span>
                <span id="note-body"><%= n.title %></span>
              </p>
            <% end %>
            <% if n.address =! "" %>
              <p>
                <span id="note-label">Address: </span>
                <span id="note-body"><%= n.address %></span>
              </p>
            <% end %>
            <% if n.body != "" %>
              <p>
                <span id="note-label">Note: </span>
                <span id="note-body"><%= n.body %></span>
              </p>
            <% end %>
            <% if n.url != "" %>
              <p>
                <span id="note-label">URL: </span>
                <span id="note-body"><a href="<%= n.url %>" target="_blank"><%= n.url %></a></span>
              </p>
            <% end %>
            <% if n.tag_list != [] %>
              <p>
                <span id="tag-label">Tag(s): </span>
                <span id="tag-each">
                  <%= n.tag_list %>
                </span>
              </p>
            <% end %>
            <p>
              <span id="note-label">Created on: </span>
              <span id="note-body"> <%= n.created_at.strftime("%m/%d/%Y") %>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div id="discover-no-notes">No notes yet. <%= link_to_modal "Create a Ramble", new_ramble_path, :class => "discover-no-notes-link" %> to start sharing notes!</div>
  <% end %>
</div>
<div class="container">
  <div class="foursq">
    <div class="four-title">Foursquare <i class="fa fa-arrow-circle-o-down"></i></div>
    <br>
    <% if @foursquare_venue != nil %>
    <% @foursquare_venue.each do |f| %>
    <li>
      <div class="f-title">
        <%= f["venue"]["name"] %>
      </div>
    </li>
    <div class="f-tips">
      <% if f["venue"]["location"]["address"].blank? %>
      <% else %>
      Address: <%= f["venue"]["location"]["address"] %><br>
      <% end %>
      <% if f["tips"] != nil %>
        <% f["tips"] %>
        <% f["tips"].each do |g| %>
          <article>
            <%= link_to g["text"], g["canonicalUrl"], :class => "f-tips", :target => '_blank' %>
          </article>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
  <br>
  <% if @yelp.businesses != nil %>
  <div class="yelp">
    <div class="y-title">Yelp <i class="fa fa-arrow-circle-o-down"></i></div>
    <% @yelp.businesses.each do |y| %>
    <li>
      <%= link_to y.name, y.url, :class => "y-name", :target => '_blank'  %>
      <%= image_tag y.rating_img_url_small %>
      <div id="yelp-address">
        <%= y.location.address.pop %>
      </div>
    </li>
    <% if y.snippet_text != nil %>
    <article class="y-tips"><%= y.snippet_text %></article>
    <% end %>
    <% end %>
    <% else %>
    Sorry, there are no Yelp results for this destination!
    <% end %>
  </div>
  <br>
  <div class="instagram">
    <div class="ins-title">Instagram <i class="fa fa-arrow-circle-o-down"></i>
    </div>
    <br>
    <% i = @instagram_images.each do |i| %>
    <%= link_to i["images"]["standard_resolution"]["url"], :target => '_blank' do %>
    <%= image_tag i["images"]["thumbnail"]["url"] %>
    <% end %>
    <% end %>
  </div>
  <br>
  <div class="reddit">
    <div class="red-title">Reddit <i class="fa fa-arrow-circle-o-down"></i>
    </div>
    <div class="r-desc">Local subreddits can be a great place to get information about a destination from locals. Here is a list of subreddits related to your destination:</div>
    <div class="r-list">
      <ul>
        <% if @reddit_thread.count > 0 %>
          <% @reddit_thread.each do |r| %>
            <li>
              <span class="r-link"><a href="http://www.reddit.com/r/<%= r["name"] %>/search?q='visit'+OR+'to+do'&restrict_sr=on" target="_blank"></span>
              <span id="slash">//</span>
              <%= r["name"] %>
              </a>
            </li>
          <% end %>
        <% else %>
          <div id="no-reddit">no reddit results for this location</div>
        <% end %>
      </ul>
    </div>
  </div>
  <br>
  <% if @songkick != nil %>
  <div class="songkick">
    <div class='song-title'> Songkick <span id="kick-img"><img src="<%= asset_path ('songkick-orange.png') %>" /></span></div><br>
      <div class="song-results">
        <% @songkick.each do |s| %>
          <li>
            <% date = s['start']['date'] %>
            <%= Date.parse(date).strftime("%-m/%-d/%Y") %>:
            <% s['performance'].each do |o| %>
              <%= link_to o['displayName'], o['artist']['uri'], :target => '_blank', :class => 'song-results' %>
            <% end %>
            <br>
            at
            <%=  link_to s['venue']['displayName'], s['venue']['uri'], :target => '_blank', class: 'song-venue' %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <br><br><hr>
  <div class="ramble">
    <h4 class="r-create">Like what you see? Create a ramble (itinerary) below! </h4>
    <i class="fa fa-arrow-right"></i>
    <% if logged_in? %>
      <%= link_to_modal "Create", new_ramble_path, :class=>"create" %>
    <% else %>
      <%= link_to_modal "Sign In to get started", new_login_path, :class => "create" %>
    <% end %>
    <i class="fa fa-arrow-left"></i>
  </div>
  <span>
    <h4 class="r-create">or search somewhere new</h4>
  </span>
  <div class="discover-bottom">
    <%= render "/discovers/create" %>
  </div>
</div>
