<div class="row" id="<%= note.persisted? ? dom_id(note) : "note-new" %>">

	<div class="notebody">
		<% if note.body %>
		<p>
			<span id="note-label">Title: </span>
			<span id="note-title"><%= note.title %></span>
		</p>
		<p>
			<span id="note-label">Address: </span>
			<span id="note-address"><%= note.address %></span>
		</p>
		<p>
			<span id="note-label">Note: </span>
			<span id="note-body"><%= note.body %></span>
		</p>
		<p>
			<span id="note-label">URL: </span>
			<span id="note-url"><a href="<%= note.url %>" target="_blank"><%= note.url %></a></span>
		</p>
		<p>
			<span id="tag-label">Tag(s): </span>
			<span id="note-tag"><%= note.tag_list %></span>
		</p>
		<p>
			<span id="note-label">Created on: </span>
			<span id="note-created"> <%= note.created_at.strftime("%m/%d/%Y") %>
			</p>
			<% if current_user.rambles.include?(@ramble) %>
			<i class="fa fa-pencil-square-o"></i>
			<%= link_to_modal 'Edit', edit_ramble_note_path(@ramble.id, note.id), :class => "edit-note" %>
			<i class="fa fa-trash"></i>
			<%= link_to 'Delete', note, method: :delete, remote: true, :class => "delete-note",:data => {:confirm => 'Are you sure you want to delete this note?'} %>
			<% end %>
			<% end %>
		</div>
	</div>
