<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1> Hi there, <%= @user.name %>!</h1>

  <p>It looks like you just created the Ramble "<%= @ramble.name %>." Your destination is <%= @ramble.destination.split.map(&:capitalize).join(' ') %>, and your travel dates are <%= @ramble.start_date %> to <%= @ramble.end_date %>.</p>
  <p>You can view your ramble through your profile.
  </p>
  <br>
  <p>Happy rambling,</p>
  <p>The Ramblethru Team</p>
</body>
</html>
