<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <h2>Register or <%= link_to "login", login_create_path %></h2>
  </div>
  <%= f.input :name %>
  <%= f.input :username %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :bio, placeholder: 'Provide a bio here if desired' %>
  <%= f.input :lives_in %>
  <p><b>(Photo stuff should go in this neck-of-the-woods)</b></p>
  <%= f.button :submit, "Register" %>
<% end %>