<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="negative_formwrap">
  <div class="row">
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :name, nil, class: 'post_label' %><br>
        <%= f.text_field :name %>
      </div>
    </div>
  </div>
  <div class="large-12 columns">
    <div class="field">
      <%= f.label :email, nil, class: 'post_label' %><br>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :password, nil, class: 'post_label' %><br>
        <%= f.password_field :password %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :password_confirmation, nil, class: 'post_label' %><br>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.button :submit, class: "radius small" %>
  </div>
<% end %>