<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="reg">
  <%= f.input :name, :class => "register-name" %>
  <%= f.input :email, placeholder: 'user@domain.com', :class => "register-email" %>
  <%= f.input :password, :class => "register-pass" %>
  <%= f.input :password_confirmation, :class => "register-pass" %>

  <%= f.button :submit, "Register", :class => "register-button" %>
</div>

<% end %>
