<div class="usershow">
	<h1 class="profile"> Your Profile </h1>
	<div class="photo">
		<%= image_tag @user.avatar.url(:medium), :class => "user-img" %>
		<%= form_for @user do |form| %>
		<%= form.file_field :avatar %>
		<%= form.submit "Add", :class => "user-img-add" %>
		<% end %>

	</div>
	<div class="userinfo">
		<div class="name">
			<span id="user-name-label">Name:</span> <span id="user-name"><%= @user.name %></span>
				<%= link_to 'Edit Name', edit_name_path, :class => "editname" %>
		</div>
		<div class="lives-in">
			<span id="user-residence-label">Residence: </span>
				<span id="user-residence"><%= @user.lives_in %></span>
				<%= link_to 'Edit where you live', edit_lives_in_path, :class => "editresidence" %>
		</div>
		<div class="bio">
			<span id="user-bio-label">BIO:</span>
			<span id="user-bio"><%= @user.bio %><br></span>
			<%= link_to 'Edit Bio', edit_bio_path, :class => "editbio" %>
		</div>
	</div>
	<div class="container">
		<div class="usertrips">
			<h3> My Rambles(dropdown?) </h3>

			<div class="userrambles">
			<% @user.rambles.each do |r| %>
				<%= link_to r.destination, ramble_path(r) %><br>
				<div class="shows"><a href="#"> Show/hide notes </a></div>
				<%= r.start_date %> - <%= r.end_date %><br>
				<div class="noteshow">
				<% if r.reddit_thread != nil %>
				Saved from Reddit: <%= link_to r.reddit_thread, r.reddit_thread %>
				<br>
				<% end %>
				<% if r.instagram_url != nil %>
				Saved from Instagram:<br> <%= link_to image_tag r.instagram_url %><br>
				<% end %>
				<% r.notes.each do |n| %>
					Note: <%= n.body %><br>
					Tag: <%= n.tag_list %>
					<% end %>
				</div>
					<script type="text/javascript">
 $(".shows").click(function () {
            $(".noteshow").toggle();
        });
</script>
				<% end %>

			</div>
			<div class="usernotes">

			</div>
		</div>
	</div>
	<div class="saved"><a href='#'>View saved notes(dropdown? Not here? Something?)</a>
	</div>
</div>
