<div class="all">
	<div class="usershow">
		<div class="profile">
			<h1 class="profile"> Your Profile </h1>
		</div>
		<div class="photo">
			<% if @user.avatar.file? %>
			<%= image_tag @user.avatar.url(:medium), :class => "user-img" %>
			<% else %>
			<img src="<%= asset_path ('missing.png') %>" />
			<% end %>
			<%= form_for @user do |form| %>
			<%= form.file_field :avatar %>
			<%= form.submit "Add", :class => "user-img-add" %>
			<% end %>
		</div>
		<div class="userinfo">
			<div class="name">
				<span id="user-name-label">Name: </span>
        <span id="user-name"><%= best_in_place @user, :name %></span>
			</div>
			<div class="lives-in">
				<span id="user-residence-label">Residence: </span>
				<span id="user-residence"><%= best_in_place @user, :lives_in %></span>
			</div>
			<br>
			<div class="bio">
				<span id="user-bio-label">BIO: </span>
				<span id="user-bio"><%= best_in_place @user, :bio %></span>
        <br>
			</div>
		</div>
		<div class="container">
			<div class="usertrips">
				<div id="my-rambles">
          <% if @user.rambles.size > 0 %>Your Rambles
          <% else %> Click <%= link_to_modal "here", new_ramble_path, :class=>"create-ramble-here" %>  to create a ramble
          <% end %>
        </div>
				<div class="userrambles">
					<% @user.rambles.each do |r| %>
					<div class="each-ramble">
						<span class="delete-ramble"><%= link_to 'X', r, method: :delete, :class => "x",   :data => {:confirm => 'Are you sure?'} %></span>
						<div id="ramble-name-profile"><%= r.name %></div>
						<%= link_to r.destination, ramble_path(r), :class => "r-dest" %>
						<span id="dates"><%= r.start_date %> to <%= r.end_date %></span>
						<% if r.notes.size > 0 %>
						<div class="shows" data-id="<%= r.id %>"><%= r.notes.count %> saved <%= "note".pluralize(r.notes.count) %></div><hr class="ramble-divider">
						<div class="noteshow" id="div_ramble_<%= r.id %>" >
							<% r.notes.each do |n| %>
								<span id="user-title">Title:</span><%=n.title %><br>
								<span id="user-address">Address:</span><%=n.address %><br>
								<span id="user-note">Note:</span><%= n.body %><br>
								<span id="user-url">URL:</span><%=n.url %><br>
								<span id="user-tags">Tags:</span><%= n.tag_list %><br><hr id="note-each-divider">
							<% end %>	
						</div>
						<% else %>
							<span id="no-notes">no notes available</span>
						<% end %>
					</div>
					<% end %>
					<script type="text/javascript">
					$(".shows").click(function () {
						var dataId = event.target.getAttribute("data-id");
						$("#div_ramble_" + dataId).toggle();
					});
					</script>
				</div>
				<div class="usernotes"></div>
			</div>
		</div>
	</div>
</div>
