<div class="all">
<div class="usershow">
<div class="profile">
	<h1 class="profile"> Your Profile </h1>
</div>
	<div class="photo">
	    <% if @user.avatar.file? %>
			<%= image_tag @user.avatar.url(:medium), :class => "user-img" %>
		<% else %>
      		<img src="<%= asset_path ('missing.png') %>" />
    	<% end %>
		<%= form_for @user do |form| %>
			<%= form.file_field :avatar %>
			<%= form.submit "Add", :class => "user-img-add" %>
		<% end %>
	</div>
	<div class="userinfo">
		<div class="name">
			<span id="user-name-label">Name:</span> <span id="user-name"><%= best_in_place @user, :name %></span>
<!-- 				<%= link_to 'Edit Name', edit_name_path, :class => "editname" %>
 -->		</div>
		<div class="lives-in">
			<span id="user-residence-label">Residence: </span>
				<span id="user-residence"><%= best_in_place @user, :lives_in %></span>
		</div>
    <br>
		<div class="bio">
			<span id="user-bio-label">BIO:</span>
			<span id="user-bio"><%= best_in_place @user, :bio %><br></span>
		</div>
	</div>
	<div class="container">
		<div class="usertrips">
			<div id="my-rambles">Your Rambles</div>
			<div class="userrambles">
				<% @user.rambles.each do |r| %>
					<div class="each-ramble">
            <span class="delete-ramble"><%= link_to 'X', r, method: :delete %></span>
					<div id="ramble-name-profile"><%= r.name %></div>
					<%= link_to r.destination, ramble_path(r), :class => "r-dest" %>
					<span id="dates"><%= r.start_date %> to <%= r.end_date %></span>
            <% if r.notes.size > 0 %>
						<a href="#"> <div class="shows">saved notes</div></a><hr class="ramble-divider">
						<div class="noteshow">
							<% if r.reddit_thread != nil %>
								Saved from Reddit: <%= link_to r.reddit_thread, r.reddit_thread %>
							<% end %>
							<% if r.instagram_url != nil %>
								Saved from Instagram:<%= link_to image_tag r.instagram_url %>
							<% end %>
							<% r.notes.each do |n| %>
								Note: <%= n.body %>
								<div id="user-tag">Tag: <%= n.tag_list %></div>
							<% end %>
						</div>
            <% else %>
            <span id="no-notes">no notes available</span>
            <% end %>
						</div>
					<script type="text/javascript">
 $(".shows").click(function () {
            $(".noteshow").toggle();
        });
</script>
				<% end %>

			</div>
			<div class="usernotes"></div>

		</div>
	
	</div>

</div>
</div>
