<div class="usershow">
	<h2> My Profile </h2>
	<div class="photo">
    <% if @user.avatar.file? %>
      <%= image_tag @user.avatar.url(:medium) %>
    <% else %>
      <img src="<%= asset_path ('missing.png') %>" />
    <% end %>
    <div class="image-form">
      <%= form_for @user do |form| %>
      <%= form.file_field :avatar %>
    </div>
    <%= form.submit "Add" %>
    <% end %>
	</div>
	<div class="userinfo">
		<div class="name">
			<h3><%= @user.name %></h3>
				<h6><%= link_to 'Edit Name', edit_name_path %></h6>
    </div>

		<div class="lives-in">
			<h5>Residence: <%= @user.lives_in %></h5>
        <h6><%= link_to 'Edit where you live', edit_lives_in_path %></h6>
		</div>
    <br>
		<div class="bio">
			<h5>Bio:</h5> <%= @user.bio %>
			<h6><%= link_to 'Edit Bio', edit_bio_path %></h6>
		</div>
	</div>
	<div class="container">
		<div class="usertrips">
			<h3> My Rambles </h3>
      <br>(dropdown?)

			<div class="userrambles">
			<% @user.rambles.each do |r| %>
				<%= link_to r.destination, ramble_path(r) %><br>
				<div class="shows"><a href=""> Show/hide notes </a></div>
				<%= r.start_date %> - <%= r.end_date %><br>
				<div class="noteshow">
				<% if r.reddit_thread != nil %>
				Saved from Reddit: <%= link_to r.reddit_thread, r.reddit_thread %>
				<br>
				<% end %>
				<% if r.instagram_url != nil %>
				Saved from Instagram:<br> <%= link_to image_tag r.instagram_url %><br>
				<% end %>
				<% r.notes.each do |n| %>
					Note: <%= n.body %><br>
					Tag: <%= n.tag_list %>
					<% end %>
				</div>
					<script type="text/javascript">
 $(".shows").click(function () {
            $(".noteshow").toggle();
        });
</script>
				<% end %>

			</div>
			<div class="usernotes">

			</div>
		</div>
	</div>
	<div class="saved"><a href='#'>All My Notes</a>
    <br>(dropdown? Not here? Something?)
	</div>
</div>
