<div class="usershow">
	<h1> My Profile </h1>
	<div class="photo">
		<%= image_tag @user.avatar.url(:medium) %>
		<%= form_for @user do |form| %>
		<%= form.file_field :avatar %>
		<%= form.submit "Add" %>
		<% end %>
		
	</div>
	<div class="userinfo">
		<div class="name">
			<%= @user.name %>
		</div>
		<div class="bio">
			<h5>BIO:</h5>
			<%= @user.bio %><br>
			<%= link_to 'Edit Bio', '#' %>
		</div>
	</div>
	<div class="container">
		<div class="usertrips">
			<h3> My Rambles(dropdown?) </h3>
			<div class="userrambles">
				<p>Ramble1</p>
				<p>Ramble2</p>
			</div>
			<div class="usernotes">
				<p>Notes1</p>
				<p>Notes2</p>
			</div>
		</div>
	</div>
	<div class="saved"><a href='#'>View saved notes(dropdown? Not here? Something?)</a>
	</div>
</div>
