<div class="all">
	<div class="usershow">
		<div class="profile">
			<h1 class="profile"> Your Profile </h1>
		</div>
		<div class="photo">
			<% if @user.avatar.file? %>
			<%= image_tag @user.avatar.url(:medium), :class => "user-img" %>
			<% else %>
			<img src="<%= asset_path ('missing.png') %>" />
			<% end %>
			<%= form_for @user do |form| %>
			<%= form.file_field :avatar %>
			<%= form.submit "Add", :class => "user-img-add" %>
			<% end %>
		</div>
		<div class="userinfo">
			<div class="name">
				<span id="user-name-label">Name:</span> <span id="user-name"><%= @user.name %></span>
				<%= link_to 'Edit Name', edit_name_path, :class => "editname" %>
			</div>
			<div class="lives-in">
				<span id="user-residence-label">Residence: </span>
				<span id="user-residence"><%= @user.lives_in %></span>
				<%= link_to 'Edit where you live', edit_lives_in_path, :class => "editresidence" %>

			</div>
			<br>
			<div class="bio">
				<span id="user-bio-label">BIO:</span>
				<span id="user-bio"><%= @user.bio %><br></span>
				<%= link_to 'Edit Bio', edit_bio_path, :class => "editbio" %>

			</div>
		</div>
		<div class="container">
			<div class="usertrips">
				<div id="my-rambles">Your Rambles</div>
				<div class="userrambles">
					<% @user.rambles.each do |r| %>

					<div class="each-ramble">
						<%= div_for(r, class: "foo") do %>
						<div id="ramble-name-profile"><%= r.name %></div>
						<% end %>
						<%= link_to r.destination, ramble_path(r), :class => "r-dest" %>

						<span id="dates"><%= r.start_date %> to <%= r.end_date %></span>
						<div class="shows">saved notes</div><hr class="ramble-divider">
						<div class="noteshow">
							<%= div_for(r, class: "bar") do %>
							<% if r.reddit_thread != nil %>
							Saved from Reddit: <%= link_to r.reddit_thread, r.reddit_thread %>
							<% end %>
							<% if r.instagram_url != nil %>
							Saved from Instagram:<%= link_to image_tag r.instagram_url %>
							<% end %>
							<% r.notes.each do |n| %>
							Note: <%= n.body %><br>
							Tag: <%= n.tag_list %>
							<% end %>
							<% end %>
						</div>
					</div>
					<script type="text/javascript">
					$(".shows").click(function () {
						$(".noteshow").toggle();
					});
					</script>
					<% end %>

				</div>
				<div class="usernotes"></div>

			</div>

		</div>

	</div>
</div>
