<%= simple_form_for @ramble do |f| %>
	<h1 class="ramble-create">Create a Ramble</h1>
		<%= f.input :name, label:false, placeholder: "Give your ramble a name", id:'ramble_name' %>
    	<%= f.input :destination, label: false, placeholder: "Destination", id:'ramble_destination' %>
    	<%= f.input :start_date, label: false, placeholder: "Start Date", id: 'start_date',input_html: { class: "datepicker" } %>
    	<%= f.text_field :end_date, label: false, placeholder: "End Date", id: 'end_date' %>
    	<%= button_to 'Save this Ramble', { :controller => 'rambles', :action => 'create'}, id: 'ramble-button' %>
<% end %>
