<div class="row" id="<%= ramble.persisted? ? dom_id(ramble) : "ramble-new" %>">
  <div class="note-container">
    <% if logged_in? %>
    <% if ramble.user_id != current_user.id %>
    <% ramble.notes.each do |n| %>
    <% if n.share %>
    <div class="note-results">
      <% if n.title != "" %>
        <p>
          <span id="note-label">Title: </span>
          <span id="note-body"><%= n.title %></span>
        </p>
      <% end %>
      <% if n.address != "" %>
        <p>
          <span id="note-label">Address: </span>
          <span id="note-body"><%= n.address %></span>
        </p>
      <% end %>
      <% if n.body != "" %>
        <p>
          <span id="note-label">Note: </span>
          <span id="note-body"><%= n.body %></span>
        </p>
      <% end %>
      <% if n.url != "" %>
        <p>
          <span id="note-label">URL: </span>
          <span id="note-body"><a href="<%= n.url %>" target="_blank" class="note-url"><%= n.url %></a></span>
        </p>
      <% end %>
      <% if n.tag_list != [] %>
        <p>
          <span id="tag-label">Tag(s): </span>
          <span id="tag-each"><%= n.tag_list %></span>
        </p>
      <% end %>
      <p>
        <span id="note-label">Created by: </span>
        <span id="note-body"> <%= link_to n.ramble.user.name, n.ramble.user %> on <%= n.created_at.strftime("%m/%d/%Y") %> </span>
      </p>
      <div class="note-destination">
        <%= ramble.destination.upcase %>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    <% ramble.notes.each do |n| %>
    <% if n.share %>
    <div class="note-results">
      <% if n.title != "" %>
      <p>
        <span id="note-label">Title: </span>
        <span id="note-body"><%= n.title %></span>
      </p>
      <% end %>
      <% if n.address =! "" %>
      <p>
        <span id="note-label">Address: </span>
        <span id="note-body"><%= n.address %></span>
      </p>
      <% end %>
      <% if n.body != "" %>
      <p>
        <span id="note-label">Note: </span>
        <span id="note-body"><%= n.body %></span>
      </p>
      <% end %>
      <% if n.url != "" %>
      <p>
        <span id="note-label">URL: </span>
        <span id="note-body"><a href="<%= n.url %>" target="_blank"><%= n.url %></a></span>
      </p>
      <% end %>
      <% if n.tag_list != [] %>
      <p>
        <span id="tag-label">Tag(s): </span>
        <span id="tag-each"><%= n.tag_list %></span>
      </p>
      <% end %>
      <p>
        <span id="note-label">Created on: </span>
        <span id="note-body"> <%= n.created_at.strftime("%m/%d/%Y") %>
      </p>
      <div class="note-destination">
        <%= ramble.destination.upcase %>
      </div>
    </div>
		<% end %>
		<% end %>
		<% end %>
	</div>
</div>

