<div class="ramble-title">
	<% if @ramble.destination %>
  <%= @ramble.destination.split.map(&:capitalize).join(' ') %>
  <% else %>
  <h1>NAME OF YOUR RAMBLE HERE</h1>
  <% end %>
  <% if @ramble.start_date && @ramble.end_date %>
  <br><%= @ramble.start_date %> - <%= @ramble.end_date %>
  <% end %>
</div>
<div class="map">
  <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/daninyc.ka9776m1/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZGFuaW55YyIsImEiOiJsZGtFNGdnIn0.3NYblJVlOSsj0kll5c4aKA'></iframe>
</div>
<div class="container">
	<div class="ramble-notes">
		<h2>NOTES</h2>
		<%= render "notes/note_form" %>
		<% if @ramble.notes %> 
		<% @ramble.notes.each do |note| %>
		<div class="notebody">
      <div id="<%= dom_id(note) %>">
        <% if note.body %> Note: <%= note.body %> <p>Tag:<%= note.tag_list %> </p>
        <% if current_user.rambles.include?(@ramble) %>
        <%= link_to 'Edit note', edit_ramble_note_path(@ramble.id, note.id) %> ,
        <%= link_to 'Destroy', note, method: :delete, remote: true %>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% else %>
    <%= link_to "Home", root_path %>
    <% end %>
    <div class="end"></div>
  </div>
  <div class="tag-div">
    <link rel="stylesheet" type="text/css" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
    <script type="text/javascript">
      function onAddTag(tag) {
        alert("Added a tag: " + tag);
      }
      function onRemoveTag(tag) {
        alert("Removed a tag: " + tag);
      }
      function onChangeTag(input,tag) {
        alert("Changed a tag: " + tag);
      }
      $(function() {
        $('#tags_1').tagsInput({width:'auto'});
      });
    </script>
    <form>
      <p>
        <label>Tags</label>
        <input id="tags_1" type="text" class="tags" value="restaurant,hotel,museum,show,park,trail,bar,durham nc" />
      </p>
    </form>
  </div>
  <div class="api-feed">
    <div class="foursq">
      <div class="title">Foursquare:</div><br>
        <% @foursquare_venue.each do |f| %>
        <li>
          <div class="title">
            <%= f["venue"]["name"] %>
          </div>
        </li>
        Address: <%= f["venue"]["location"]["address"] %><br>
        <% f["tips"] %>
        <% f["tips"].each do |g| %>
        <article><%= link_to g["text"], g["canonicalUrl"] %></article>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div class="yelp">
    <div class="title">Yelp:</div>
    <br>
    <% @yelp.businesses.each do |y| %>
    <li>
      <%= link_to y.name, y.url %>
      <%= link_to image_tag y.rating_img_url_small %>
    </li>
    <article><%= y.snippet_text %></article>
    <% end %>
  </div>

  <br>
  <div class="instagram">
    <div class="title">Instagram:</div>
    <br>
    <% i = @instagram_images.each do |i| %>
    <%= link_to image_tag i["images"]["thumbnail"]["url"] %>
    <%= button_to 'Save this Image', { :controller => 'rambles', :action => 'add_instagram'} %></li>
    <% end %>
  </div>

  <br>
  <div class="reddit">
    <div class="title">Reddit:</div><br>
    <% @reddit_thread.each do |r| %>
    <li><%= link_to r["data"]["title"], r["data"]["url"] %></li>
    <% end %>
  </div>

  <div class="recommended-notes">
   <h4>RELEVANT NOTES GO HERE</h4>
 </div>
</w>
</div>
</div>