<div class="ramble-title">
	<% if @ramble.name %>
	<%= @ramble.name %> - 
	<%= @ramble.destination %>
	<% else %>
	<h1>NAME OF YOUR RAMBLE HERE</h1>
	<% end %>
</div>
<div class="map">
	 <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/daninyc.ka9776m1/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZGFuaW55YyIsImEiOiJsZGtFNGdnIn0.3NYblJVlOSsj0kll5c4aKA'></iframe>
	
</div>
<div class="container">
	<div class="ramble-notes">
		<h2>NOTES</h2>
		<%= render "notes/note_form" %>
		<% if @ramble.notes != nil %> 
		<% @ramble.notes.each do |note| %>
		<div class="notebody">
			<%= note.body %>
			<%= link_to "Destroy", note_destroy_path(@ramble, @note) %></div>
		</div>
		<% end %>
		<% else %>
		<%= link_to "Home", root_path %>
		<% end %>

		
	</div>
	<div class="api-feed">
		<h2>API FEED</h2>
		<h4>Foursquare</h4>
		<div class="foursq"></div>

		<div class="recommended-notes">
			<h4>RELEVANT NOTES GO HERE</h4>
		</div>
	</div>
</div>