<div class="hero">
	<div class="header-title">
		<h1>Adventure Awaits</h1>
	</div>
	<div class="header-subtitle">
		<h4>plan your ramble</h4>
	</div>
	<form class="search-form">
		<div class="location-search">
			<input type="text" placeholder="search by city, state">
			<input type="submit" value="Search">
		</div>
	</form>
	<%= link_to "Discover", discover_path, :class => "discover" %>
	</div>
<div class="container">
	<div class="homepage-about">
			<h1>What We Do</h1>
	</div>

	<div class="homepage-about-each">
		<div class="discover">
			<h4>Discover</h4>
				<article>
					I am some cool text.
				</article>
		</div>

		<div class="create">
			<h4>Create</h4>
				<article>
					I am cooler text.
				</article>
		</div>

		<div class="go">
			<h4>Go</h4>
				<article>
					But I am coolest.
				</article>
		</div>

	</div>
</div>
	<div class="login-register">
		<% if !logged_in? %>
      <h1>Log in</h1>
      <div class="or-signup">(or <%= link_to "sign up for a new account", new_user_path %>)</div>

      <%= render "/logins/login_form" %>
			<br><%= link_to "Log in with Foursquare", "/auth/foursquare" %>
      <br><%= link_to "Log in with Twitter", "/auth/twitter"%>
		<% else %>
			<h3>Welcome,</h3><%= current_user.name %>!
		<% end %>
	</div>
