
<div class="hero">
	<div class="header-title"></div>
	<div class="header-subtitle"></div>
	<%= form_tag("/rambles/search", method: "get") do %>
		<div class="location-search">
			<%= text_field_tag :destination, nil, placeholder: "Search by your City or Street Address..." %>
			<div class="actions">
        		<%= submit_tag "GO", :class => "input" %>
      		</div>
      	</div>
    <% end %>
</div>

<div class="container">
	<div class="homepage-about"><h1>What We Do</h1></div>

	<section class="homepage-about-discover">
		<div class="discover">
			<h2><%= link_to "Discover", discover_path, :class => "discover" %></h2>
				<article>
					<div id="discover-about">Explore recommendations from your peers about your destination.</div>
				</article>
			<div id="map"></div>
			<div id="clicked-state"></div>

		</div>
	</section>
	<section class="homepage-about-create"
		<div class="create">
			<h2>Create</h2>
				<article>
					<div id="create-about">Create a personalized itinerary around them.</div>
				</article>
				<div class="font-awesome">
					<i class="fa fa-foursquare fa-5x"></i>
					<i class="fa fa-instagram fa-5x"></i>
					<i class="fa fa-yelp fa-5x"></i>
					<i class="fa fa-reddit fa-5x"></i>
				</div>
		</div>
	</section>
	<section class="homepage-about-go">
		<div class="go">
			<h2>Go</h2>
				<article>
					<span class="animated bounceInUp"><div id="go-about animated">Something here.</div></span>
				</article>
				<ul>
				<li><i class="fa fa-bus animated wobble"></i></li>
				<li><i class="fa fa-plane animated lightSpeedIn"></i></li>
				<li><i class="fa fa-car animated rollIn"></i></li>

				</ul>

		</div> 

	</section>
	</div>
</div>
<div id="demo-form" class="demo-description" style="display: none; ">
  <p>
    The basic dialog window is an overlay positioned within the viewport and is protected from page content
    (like select elements) shining through with an iframe. It has a title bar and a content area, and can be moved,
    resized and closed with the 'x' icon by default.
  </p>
</div>

<%=  link_to_modal "New User", new_user_path, :class=>"button" %>




	<!-- <div class="login-register">
		<% if !logged_in? %>
      <h1>Log in</h1>
      <div class="or-signup">(or <%= link_to "sign up for a new account", new_user_path %>)</div>

      <%= render "/logins/login_form" %>
			<br><%= link_to "Log in with Foursquare", "/auth/foursquare" %>
      <br><%= link_to "Log in with Twitter", "/auth/twitter"%>
		
		<% end %>
	</div> -->
