
<div class="hero">
	<div class="header-title">
		<h1>Adventure Awaits</h1>
	</div>
	<div class="header-subtitle">
		<h4>plan your ramble</h4>
	</div>
	<form class="search-form">
		<div class="location-search">
			<input type="text" placeholder="search by city, state">
			<input type="submit" value="Search">
		</div>
	</form>
</div>
<div class="container">
	<div class="homepage-about">
		<h1>What We Do</h1>
	</div>

	<div class="homepage-about-each">
		<div class="discover">
			<h4>Discover</h4>
				<article>
					I am some cool text.
				</article>
		</div>

		<div class="create">
			<h4>Create</h4>
				<article>
					I am cooler text.
				</article>
		</div>

		<div class="go">
			<h4>Go</h4>
				<article>
					But I am coolest.
				</article>
		</div>

	</div>
</div>
	<div class="login-register">
		<h1>LOGIN/SIGNUP FORM HERE</h1>
		<% if !logged_in? %>
			<%= link_to "Login with Foursquare", "/auth/foursquare" %>
		<% else %>
			<h3>Welcome,</h3><%= current_user.name %>!
		<% end %>
	</div>

<%= link_to "Sign up", new_user_path %> |
<%= link_to "Log in", new_login_path %> |
<%= link_to "Log out", logout_path, :method => :delete %>
