<!DOCTYPE html>
<html>
<head>
  <title>Ramblethru</title>
  
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'normalize.css', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <% if logged_in? %>
    Bienvenue, <%= link_to current_user.name, user_path(current_user) %>! |
    <%= link_to "Log out", logout_path %> |
      <%= link_to "Home", root_path %>
    <% else %>
    <%= link_to "Sign up", new_user_path %> |
    <%= link_to "Log in", new_login_path %> |
    <%= link_to "Home", root_path %>
    <% end %>
  </div>
  <%= display_alert(:notice) %>
  <%= display_alert(:alert) %>
<%= yield %>

</body>
</html>
