<!DOCTYPE html>
<html>
<head>
  <title>Ramblethru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'normalize.css', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <% if logged_in? %>
    <%= current_user.name %>
    <%= link_to "Log out", logout_path, :method => :delete %>
    <% else %>
    <%= link_to "Sign up", new_user_path %> |
    <%= link_to "Log in", new_login_path %> |
    <% end %>
  </div>
<%= yield %>

</body>
</html>
